.sessionCardContainer{
	/* background-color: rgba(0,0,0,0.9); */
}
.sessionTitle{
	text-align: left;
	margin: 5px;
	padding: 5px;
	font-size: 2rem;
	font-family: 'MuseoModerno', cursive;

}
.countdownContainer{
	background-color: #e4c144;
	display: block;
	width: 40%;
	margin:auto;
}
.sessionPoseTitle{
	font-size: 2rem;
	text-align: left;
	padding: 5px;
}
.sessionPoseContainer{
	width: 70%;
	height: auto;
	margin:auto;
	background-color: whitesmoke;
}
.sessionImageContainer{
	/* background-color: blue; */
	width:20vw;
	/* width: ; */
}
.SessionActionContainer{
	margin: 2rem;
}
.sessionFinishTitle{
	font-size: 2rem;
	margin: 1rem;
	font-family: 'MuseoModerno', cursive;
}