.workoutWorkoutContainer{
	/* margin:auto; */
	/* text-align: center; */
	font-family: 'MuseoModerno', cursive;
}
.workoutTitle{
	font-size: 2rem;

}
.workoutTime{

}
.workoutLevel{

}
.workoutActionsButton{

}
.workoutStepsContainerTitle{
	font-size: 1.5rem;
	margin:left;
}
.workoutStepsContainer{
	/* margin:auto;
	display: flex;
	flex-direction: row; */
}
.workoutStepsImagesContainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem;
}
.workoutStartActionContainer{
	text-align: center;
	padding: 1px 10px;
	font-size: 2rem;
	text-decoration: none;
	border-radius: 10px;
	border: 2px solid #DF7943;
	text-align: center;
}
.workoutStartActionContainer:hover{
	background-color: #DF7943;
}
