.poseManagerContainer{
	padding: 5px;
	margin:auto;
	text-align: center;
}
.poseManagerContentContainer{
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	text-align: center;
	margin: auto;
	/* left: 50%; */
}