.workoutManagerContainer{

}
.workoutManagerTitle{
	font-size: 2rem;
	font-family: 'MuseoModerno', cursive;
	text-align: left;
}

.workoutsContainer{
	display: flex;
	flex-direction: column;
}
.newWorkoutContainer{
	text-align: right;
	margin: 10px;
}
.createWorkoutLink{
	text-decoration: none;
	font-size:1.5rem;
	background-color: #C24B39;
	border: 2px solid black;
	border-radius:10px;
	color:black;
	padding: 5px;
	margin: 10px;
}
