.poseContainer{
	padding: 5px;
}
.imageContainer{
	width: 100px;
	height: 100px;
	padding-left: 2rem;
}
.poseTitle{
	font-size: 3rem;
	text-align: left;
	padding-left: 2rem;
}
.poseSubtitle{
	font-size: 1.5rem;
	text-align: left;
	padding-left: 2rem;
}
.videoContentContainer{
	width: 40%;
}
.poseExternalDataContainer{
	/* text-decoration: none; */
	text-align: left;
	margin-bottom: 100px;
	background-color: #693F27;
	border-radius: 10px;
	padding: 5px;
	font-size: 1rem;
}
.videoContainer{
	background-color: #e4c144;
	border-radius: 10px;
	/* padding: 1rem; */
}
.poseLink{
	color: #e4c144;
	text-decoration: none;

}